# CURSO DE FUNDAMENTOS DE PYTHON
## EJERCICIOS DE TUPLAS

### Ejercicio 1
Crear una tupla vacía

In [1]:
# Escribe tu solución aquí
tupla = {}
tupla

{}

### Ejercicio 2
Crear una tupla con algunos elementos

In [2]:
# Escribe tu solución aquí
tupla = {1, 2, 3, 4, 5}
tupla

{1, 2, 3, 4, 5}

### Ejercicio 3
Acceder a un elemento de la tupla

In [ ]:

tupla = (1, 2, 3, 4, 5)
print("Elemento en la posición 2:", tupla[2])

### Ejercicio 4
Intentar modificar un elemento de la tupla (esto producirá un error ya que las tuplas son inmutables)

In [3]:
tupla = (1, 2, 3, 4, 5)
tupla[2] = 10

TypeError: 'tuple' object does not support item assignment

### Ejercicio 5
Concatenar dos tuplas

In [ ]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

tupla_concatenada = tupla1 + tupla2

print("Tupla concatenada:", tupla_concatenada)

### Ejercicio 6
Obtener la longitud de una tupla

In [ ]:
tupla = (1, 2, 3, 4, 5)
longitud = len(tupla)
print("La longitud de la tupla es:", longitud)

### Ejercicio 7
Convertir una tupla en una lista

In [ ]:
tupla = (1, 2, 3, 4, 5)
lista = list(tupla)
print("Lista:", lista)

### Ejercicio 8
Convertir una lista en una tupla

In [ ]:

lista = [1, 2, 3, 4, 5]

tupla = tuple(lista)

print("Tupla:", tupla)

### Ejercicio 9
Crear una tupla de números enteros y calcular su suma y promedio

In [ ]:
# Crear una tupla de números enteros
numeros = (10, 20, 30, 40, 50)

suma = sum(numeros)

promedio = suma / len(numeros)

print("Tupla:", numeros)
print("Suma:", suma)
print("Promedio:", promedio)

### Ejercicio 10
Crear dos tuplas de la misma longitud y crear una nueva tupla que contenga la suma de los elementos correspondientes de ambas tuplas

In [ ]:
tupla1 = (1, 2, 3, 4, 5)
tupla2 = (10, 20, 30, 40, 50)

tupla_suma = tuple(a + b for a, b in zip(tupla1, tupla2))

print("Tupla resultante:", tupla_suma)

### Ejercicio 11
Crear una tupla de nombres y ordenarla alfabéticamente

In [ ]:

nombres = ("Juan", "María", "Pedro", "Ana")

nombres_ordenados = sorted(nombres)

print("Nombres ordenados:", nombres_ordenados)

### Ejercicio 12
Crear una tupla de números y encontrar el valor mínimo y máximo

In [ ]:
numeros = (10, 25, 5, 40, 15)

minimo = min(numeros)

maximo = max(numeros)


print("Tupla:", numeros)
print("Valor mínimo:", minimo)
print("Valor máximo:", maximo)

### Ejercicio 13
Crear una tupla de números y convertirla en una lista

In [ ]:
tupla_numeros = (1, 2, 3, 4, 5)

lista_numeros = list(tupla_numeros)

print("Lista:", lista_numeros)

### Ejercicio 14
Crear una tupla con los días de la semana y mostrar el tercer elemento

In [ ]:
dias_semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")

tercer_dia = dias_semana[2]


print("El tercer día de la semana es:", tercer_dia)

### Ejercicio 15
Crear una tupla con números enteros y mostrar aquellos que son pares

In [ ]:
numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
pares = tuple(num for num in numeros if num % 2 == 0)
print("Números pares:", pares)

### Ejercicio 16
Crear una tupla con los meses del año y mostrar aquellos que tienen más de cinco letras

In [ ]:

meses = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", 
         "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")

meses_largos = tuple(mes for mes in meses if len(mes) > 5)

print("Meses con más de cinco letras:", meses_largos)

### Ejercicio 17
Crear una tupla con las edades de varias personas y mostrar la cantidad de personas mayores de 18 años

In [ ]:
edades = (15, 22, 17, 30, 19, 12, 25)

mayores_18 = sum(1 for edad in edades if edad > 18)

print("Cantidad de personas mayores de 18 años:", mayores_18)

### Ejercicio 18
Crear una tupla de tuplas que contienen información de libros y mostrar el título del tercer libro

In [ ]:
libros = (
    ("Cien años de soledad", "Gabriel García Márquez", 1967),
    ("Don Quijote de la Mancha", "Miguel de Cervantes", 1605),
    ("1984", "George Orwell", 1949),
    ("El Principito", "Antoine de Saint-Exupéry", 1943)
)

titulo_tercer_libro = libros[2][0]

print("Título del tercer libro:", titulo_tercer_libro)