# CURSO DE FUNDAMENTOS DE PYTHON
## EJERCICIOS DE CONJUNTOS

### Ejercicio 1
Crear un conjunto con los números del 1 al 10 e imprimirlo en pantalla.

In [1]:
# Escribe tu solución aquí
numeros = {1, 2, 3, 4, 5,6,7,8,9,10}
numeros

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Ejercicio 2
Crear dos conjuntos, uno con los números pares del 1 al 10 y otro con los impares del 1 al 10. Luego, imprimir los conjuntos y la intersección entre ellos.

In [2]:
# Escribe tu solución aquí
pares = {2, 4, 6, 8, 10}
impares = {1, 3, 5, 7, 9}
interseccion = pares & impares
interseccion

set()

### Ejercicio 3
Crear un conjunto con los elementos 'manzana', 'banana' y 'naranja'. Luego, pedirle al usuario que ingrese un elemento y determinar si ese elemento se encuentra en el conjunto o no.

In [3]:
# Escribe tu solución aquí
frutas = {"manzana", "banana", "naranja"}
elemento = input("Ingresa una fruta: ")
if elemento in frutas:
    print(f"{elemento} está en el conjunto.")
else:
    print(f"{elemento} NO está en el conjunto.")

manzana está en el conjunto.

### Ejercicio 4
Crear un conjunto con los números del 1 al 5 y otro con los números del 4 al 8. Luego, unir los conjuntos y eliminar los elementos repetidos. Finalmente, imprimir el conjunto resultante.

In [4]:
# Escribe tu solución aquí
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {4, 5, 6, 7, 8}
union = conjunto1 | conjunto2   
print("Conjunto resultante:", union)

Conjunto resultante: {1, 2, 3, 4, 5, 6, 7, 8}

### Ejercicio 5
Crear un conjunto con los elementos 'leche', 'pan', 'huevos' y 'azúcar'. Luego, eliminar el elemento 'azúcar' del conjunto y agregar el elemento 'harina'. Finalmente, imprimir el conjunto resultante.

In [ ]:
# Escribe tu solución aquí
compras = {"leche", "pan", "huevos", "azúcar"}
compras.remove("azúcar")
compras.add("harina")
print("Conjunto resultante:", compras)

### Ejercicio 6
Crear un conjunto con los nombres 'Juan', 'María', 'Pedro' y 'Luisa'. Luego, imprimir el número de elementos del conjunto.

In [ ]:
# Escribe tu solución aquí
nombres = {"Juan", "María", "Pedro", "Luisa"}
print("Número de elementos en el conjunto:", len(nombres))

### Ejercicio 7
Crear dos conjuntos, uno con los números del 1 al 5 y otro con los números del 4 al 8. Luego, imprimir los conjuntos y la diferencia simétrica entre ellos.

In [ ]:
# Crear los conjuntos
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {4, 5, 6, 7, 8}
print("Conjunto 1:", conjunto1)
print("Conjunto 2:", conjunto2)
diferencia_simetrica = conjunto1 ^ conjunto2
print("Diferencia simétrica:", diferencia_simetrica)

### Ejercicio 8
Crear un conjunto con los números del 1 al 10 y otro con los números del 5 al 15. Luego, imprimir los conjuntos y la unión entre ellos.

In [ ]:
# Escribe tu solución aquí
conjunto1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
conjunto2 = {5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
print("Conjunto 1:", conjunto1)
print("Conjunto 2:", conjunto2)
union = conjunto1 | conjunto2  
print("Unión:", union)

### Ejercicio 9
Crear un conjunto con los elementos 'manzana', 'banana', 'naranja' y 'pera'. Luego, imprimir los elementos del conjunto en orden alfabético.

In [ ]:
# Escribe tu solución aquí
frutas = {"manzana", "banana", "naranja", "pera"}
for fruta in sorted(frutas):
    print(fruta)

### Ejercicio 10
Crear un conjunto con los números del 1 al 10 y otro con los números del 6 al 15. Luego, imprimir los conjuntos y la intersección entre ellos.

In [ ]:
conjunto1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
conjunto2 = {6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
print("Conjunto 1:", conjunto1)
print("Conjunto 2:", conjunto2)
interseccion = conjunto1 & conjunto2   

print("Intersección:", interseccion)