# CURSO DE FUNDAMENTOS DE PYTHON
## EJERCICIOS DE CONJUNTOS

### Ejercicio 1
Crear un conjunto con los números del 1 al 10 e imprimirlo en pantalla.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 2
Crear dos conjuntos, uno con los números pares del 1 al 10 y otro con los impares del 1 al 10. Luego, imprimir los conjuntos y la intersección entre ellos.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 3
Crear un conjunto con los elementos 'manzana', 'banana' y 'naranja'. Luego, pedirle al usuario que ingrese un elemento y determinar si ese elemento se encuentra en el conjunto o no.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 4
Crear un conjunto con los números del 1 al 5 y otro con los números del 4 al 8. Luego, unir los conjuntos y eliminar los elementos repetidos. Finalmente, imprimir el conjunto resultante.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 5
Crear un conjunto con los elementos 'leche', 'pan', 'huevos' y 'azúcar'. Luego, eliminar el elemento 'azúcar' del conjunto y agregar el elemento 'harina'. Finalmente, imprimir el conjunto resultante.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 6
Crear un conjunto con los nombres 'Juan', 'María', 'Pedro' y 'Luisa'. Luego, imprimir el número de elementos del conjunto.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 7
Crear dos conjuntos, uno con los números del 1 al 5 y otro con los números del 4 al 8. Luego, imprimir los conjuntos y la diferencia simétrica entre ellos.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 8
Crear un conjunto con los números del 1 al 10 y otro con los números del 5 al 15. Luego, imprimir los conjuntos y la unión entre ellos.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 9
Crear un conjunto con los elementos 'manzana', 'banana', 'naranja' y 'pera'. Luego, imprimir los elementos del conjunto en orden alfabético.

In [ ]:
# Escribe tu solución aquí

### Ejercicio 10
Crear un conjunto con los números del 1 al 10 y otro con los números del 6 al 15. Luego, imprimir los conjuntos y la intersección entre ellos.

In [ ]:
# Escribe tu solución aquí