# CURSO DE FUNDAMENTOS DE PYTHON
## EJERCICIOS DE TUPLAS

### Ejercicio 1
Crear una tupla vacía

In [ ]:
# Escribe tu solución aquí

### Ejercicio 2
Crear una tupla con algunos elementos

In [ ]:
# Escribe tu solución aquí

### Ejercicio 3
Acceder a un elemento de la tupla

In [ ]:
# Escribe tu solución aquí

### Ejercicio 4
Intentar modificar un elemento de la tupla (esto producirá un error ya que las tuplas son inmutables)

In [ ]:
# Escribe tu solución aquí

### Ejercicio 5
Concatenar dos tuplas

In [ ]:
# Escribe tu solución aquí

### Ejercicio 6
Obtener la longitud de una tupla

In [ ]:
# Escribe tu solución aquí

### Ejercicio 7
Convertir una tupla en una lista

In [ ]:
# Escribe tu solución aquí

### Ejercicio 8
Convertir una lista en una tupla

In [ ]:
# Escribe tu solución aquí

### Ejercicio 9
Crear una tupla de números enteros y calcular su suma y promedio

In [ ]:
# Escribe tu solución aquí

### Ejercicio 10
Crear dos tuplas de la misma longitud y crear una nueva tupla que contenga la suma de los elementos correspondientes de ambas tuplas

In [ ]:
# Escribe tu solución aquí

### Ejercicio 11
Crear una tupla de nombres y ordenarla alfabéticamente

In [ ]:
# Escribe tu solución aquí

### Ejercicio 12
Crear una tupla de números y encontrar el valor mínimo y máximo

In [ ]:
# Escribe tu solución aquí

### Ejercicio 13
Crear una tupla de números y convertirla en una lista

In [ ]:
# Escribe tu solución aquí

### Ejercicio 14
Crear una tupla con los días de la semana y mostrar el tercer elemento

In [ ]:
# Escribe tu solución aquí

### Ejercicio 15
Crear una tupla con números enteros y mostrar aquellos que son pares

In [ ]:
# Escribe tu solución aquí

### Ejercicio 16
Crear una tupla con los meses del año y mostrar aquellos que tienen más de cinco letras

In [ ]:
# Escribe tu solución aquí

### Ejercicio 17
Crear una tupla con las edades de varias personas y mostrar la cantidad de personas mayores de 18 años

In [ ]:
# Escribe tu solución aquí

### Ejercicio 18
Crear una tupla de tuplas que contienen información de libros y mostrar el título del tercer libro

In [ ]:
# Escribe tu solución aquí